* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --c-gray-light-main: #BDBDBD;
  --c-blue-darken-bg: #161D31;
  --c-blue-dark-sidebar: #283046;
  --c-white: #fff;
  --c-purple-light: #9E8CFC;
  --c-red: #EA5455;
  --c-yellow: #F2C94C;
  --c-green: #6FCF97;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: var(--c-gray-light-main);
}

ul {
  list-style: none;
}

.site-container {
  background: var(--c-blue-darken-bg);
  display: flex;
}
.site-container svg {
  width: 32px;
  height: 32px;
  display: block;
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.wrapper svg {
  width: 26px;
  height: 26px;
  display: block;
}

.header {
  background-color: var(--c-blue-dark-sidebar);
  margin: 80px 30px 80px 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.header__inner, .header__menu, .header__settings {
  display: flex;
  align-items: center;
}
.header__inner {
  justify-content: space-between;
  padding: 22px;
}
.header-menu__item:not(:last-of-type) {
  margin-right: 20px;
}
.header-menu__link {
  display: inline-block;
}

.header-setting__lang, .header-setting__link, .header-setting__menu {
  display: flex;
}
.header-setting__link {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--c-gray-light-main);
  font-size: 1.125rem;
}
.header-setting__icon {
  margin-right: 20px;
}
.header-setting__menu, .header-setting__avatar {
  margin-left: 60px;
}

.sidebar {
  padding: 30px 16px;
  min-height: 100vh;
  background-color: var(--c-blue-dark-sidebar);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}
.sidebar__button {
  position: absolute;
  right: -10px;
  box-shadow: none;
  border: 1px solid var(--c-gray-light-main);
  background-color: var(--c-blue-dark-sidebar);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__button svg {
  width: 6px;
  height: 6px;
  fill: var(--c-gray-light-main);
}
.sidebar__heading {
  margin-bottom: 50px;
}
.sidebar__heading,
.sidebar .sidebar-menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-menu__item {
  padding: 10px 0;
}
.sidebar-menu__item.--divider {
  margin-bottom: 54px;
  position: relative;
}
.sidebar-menu__item span {
  position: absolute;
  left: calc(50% - 8px);
  bottom: -40px;
  display: block;
  width: 16px;
  height: 4px;
  background-color: var(--c-purple-light);
  border-radius: 2px;
}
.sidebar-menu__item span:before, .sidebar-menu__item span:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 8px;
  background-color: var(--c-purple-light);
  border-radius: 2px;
}
.sidebar-menu__item span:before {
  left: -14px;
}
.sidebar-menu__item span:after {
  left: 22px;
}
.sidebar-menu__link {
  color: var(--c-gray-light-main);
  text-decoration: none;
}
.sidebar-menu__title {
  margin-top: 11px;
}

.intro__inner img {
  display: block;
  width: 100%;
}/*# sourceMappingURL=index.css.map */