@import "../../../../scss/themes/index";
@import "../../../../scss/core/index";

.nowPlayingMovies {
  margin-bottom: 40px;
  @include breakpoint("sm") {
    margin-bottom: 20px;

  }
}
.nowPlayingMoviesInner {
  background-color: var(--c-card-bg);
  padding: 40px;
  border-radius: 10px;
  min-height: 300px;
  @include breakpoint("sm") {
    min-height: 700px;
    padding: 12px;

  }
}
.swiper-initialized {
  @include breakpoint("lg") {
    
  }
} 