*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
}
button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #2F281E;
    font-size: 16px;
    font-weight: 500;
}
.orange_btn {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 40px;
    background-color: #FF9900;
    color: #fff;
    font-weight: 700;
    border: 1px solid #FF9900;
    border-radius: 4px;
}
.orange_btn:hover {
    background-color: transparent;
    color: #2F281E;
}

/* heder */

.nav_link {
    display: inline-block;
    text-decoration: none;
    line-height: 80px;
    color: #2F281E;
}
.header_btn {
    font-size: 16px;
    line-height: 19.5px;
    padding: 13px 25px;
    background-color: #fff;
    border-radius: 4px;
    color: #2F281E;
    font-weight: 600;
}
.singin_btn {
    border: 1px solid #BCD0E5;
}
.singin_btn:hover {
    background-color: #BCD0E5;
    color: #fff;
}
.singup_btn {
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: #fff;
}
.singup_btn:hover {
    background-color: transparent;
    color: #2F281E;
}



/* home */

.home {
    padding: 70px 0 50px;
}