$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;


$c-violet: #9C69E2;
$c-blue: #3868cd;
$c-blue-hover: #4272d7;
$c-gray: #4B5D68;
$c-m-gray: #666;
$c-middle-gray: #e5e5e5;
$c-light-gray: #fafafa;
$c-white: #ffffff;
$c-green: #57b846;
$bsh-c-input: rgba(0,0,0,.08);