$c-violet: #9C69E2;
$c-violet-light: #F6F0FD;
$c-violet-medium: #8A40EE;
$c-violet-dark: #212353;
$c-green-light: #F0FAF9;
$c-pink: #F063B8;
$c-pink-light: #FEF0F8;
$c-pink-medium: #FDE8F5;
$c-pink-middle: #EB4BAB;
$c-blue-light: #EAF6FC;
$c-blue-medium: #CCDDFF;
$c-facebook: #3B5998;
$c-twitter: #00ACEE;
$c-instagram: #C13584;
$c-gray: #4B5D68;
$c-gray-light: #e9e9ee;
$c-white: #ffffff;
