*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
img {
  vertical-align: top;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
	max-width: 1190px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}