@import "../../scss/themes/index";
@import "../../scss/core/index";

.movieDetails {
  background-color: var(--c-main-bg);
  position: relative;
}
.movieDetailsBgImg {
  position: fixed;
  top: 0;
  left: -8px;
  z-index: -1;
  filter: blur(5px);
  min-height: 101vh;
  height: 100%;
  min-width: 102vw;
  width: 100%;
}
.movieDetailsBody {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}
.movieDetailsInner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
  width: 100%;
  @include breakpoint("xl") {
    flex-direction: column;
    gap: 20px;
  }
}
.contentSection {
  width: 50%;
  @include breakpoint("xl") {
    width: 70%;
  }
  @include breakpoint("md") {
    width: 90%;
  }
  @include breakpoint("sm") {
    width: 100%;
  }
}
.flex_gap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contentSectionBg {
  background-color: var(--c-movie-bg);
  padding: 20px;
  border-radius: 10px;
}
.posterImg {
  border-radius: 10px;
}
.movieTitle {
  font-size: $fs-28;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--c-white-text);
  @include breakpoint("lg") {
    text-align: center;
  }
}
.movieInfo {
  display: flex;
  gap: 10px;
  font-size: $fs-14;
  margin-bottom: 40px;
  color: var(--c-white-text);
  @include breakpoint("lg") {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
.bg_orange {
  background-color: var(--c-accent);
  border-radius: 10px;
  padding: 0 10px;
}
.movieTagline {
  color: var(--c-white-text);
  font-style: italic;
  font-weight: 400;
  font-size: $fs-16;
  margin-bottom: 10px;
  @include breakpoint("lg") {
    text-align: center;
  }
}
.movieOverview {
  color: var(--c-white-text);
  @include breakpoint("lg") {
    text-align: justify;
  }
}
