*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #3c3c3c;
}
ul {
  list-style: none;
}
ul,
a,
button {
  cursor: url(../images/cursor.svg), auto;
}
button {
  font-family: "Lato", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #ffff;
  border-bottom: 1px solid #bdbdbd;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__item:not(:last-of-type) {
  margin-right: 32px;
}
.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 600;
  font-size: 20px;
  line-height: 79px;
  
  transition: all 0.25s;
}
.nav__link:hover {
  color: #18b5dc;
}
.callback__btn {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 9px 18px;
  box-shadow: none;
  border: 1px solid #3c3c3c;
  background-color: transparent;
  transition: all 0.25s;
}
.callback__btn:hover {
  color: #fff;
  border: 1px solid #18b5dc;
  background-color: #18b5dc;
}

/* about */

.about {
  padding: 230px 0 150px;
  background-color: #f6f6f6;
}
.about__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  margin-bottom: 54px;
  position: relative;
}
.about__title:after {
  content: "";
  background-color: #dddbdb;
  position: absolute;
  height: 4px;
  width: 45px;
  left: calc(50% - 22.5px);
  bottom: -17px;
}
.about__text {
  text-align: center;
  font-weight: 300;
  margin-bottom: 57px;
}
.section__team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team__item:not(:last-of-type) {
  margin-right: 30px;
}
.team__item-image {
  position: relative;
  margin-bottom: 20px;
  
}

.team__item-photo {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  
}

/* icons */

.team__item-social {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #18b5dc;
  opacity: 0;
  cursor: url(../images/cursor.svg), auto;
  transition: all 0.25s;
}
.team__item-social:hover {
  opacity: 1;
}
.social-link {
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #18b5dc;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.25s;
}
.social-link:not(:last-of-type) {
  margin-right: 4px;
}
.social-link:hover {
  background-color: #18b5dc;
}
.social__icon--bg-blue {
  background-color: #5dcbe6;
}
.social__icon--bg-blue:hover {
  background-color: #fff;
}

/* social icon white */

.social__icon--twitter {
  background-image: url(../images/icons/twitter.svg);
}
.social__icon--twitter:hover {
  background-image: url(../images/icons/twitter_blue.svg);
}
.social__icon--facebook {
  background-image: url(../images/icons/facebook.svg);
}
.social__icon--facebook:hover {
  background-image: url(../images/icons/facebook_blue.svg);
}
.social__icon--instagram {
  background-image: url(../images/icons/instagram.svg);
}
.social__icon--instagram:hover {
  background-image: url(../images/icons/instagram_blue.svg);
}
.social__icon--linkein {
  background-image: url(../images/icons/linkedin.svg);
}
.social__icon--linkein:hover {
  background-image: url(../images/icons/linkein_blue.svg);
}
.social__icon--telegram {
  background-image: url(../images/icons/telegram.svg);
}
.social__icon--telegram:hover {
  background-image: url(../images/icons/telegram_blue.svg);
}

/* social icon blue */

.social__icon--twitter-blue {
  background-image: url(../images/icons/twitter_blue.svg);
}
.social__icon--twitter-blue:hover {
  background-image: url(../images/icons/twitter.svg);
}
.social__icon--facebook-blue {
  background-image: url(../images/icons/facebook_blue.svg);
}
.social__icon--facebook-blue:hover {
  background-image: url(../images/icons/facebook.svg);
}
.social__icon--instagram-blue {
  background-image: url(../images/icons/instagram_blue.svg);
}
.social__icon--instagram-blue:hover {
  background-image: url(../images/icons/instagram.svg);
}
.social__icon--linkein-blue {
  background-image: url(../images/icons/linkedin_blue.svg);
}
.social__icon--linkein-blue:hover {
  background-image: url(../images/icons/linkedin.svg);
}
.social__icon--telegram-blue {
  background-image: url(../images/icons/telegram_blue.svg);
}
.social__icon--telegram-blue:hover {
  background-image: url(../images/icons/telegram.svg);
}

.team__item-description {
  font-size: 18px;
  line-height: 22px;
}
.team__item-name {
  font-weight: 700;
}
.team__item-position {
  font-weight: 300;
}

/* footer */

.footer {
  padding: 40px 0;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  margin-bottom: 22px;
}
.footer__nav {
  margin-bottom: 28px;
}
.nav__item--footer:not(:last-of-type) {
  margin-right: 22px;
}
.nav__link--footer {
  font-size: 18px;
  line-height: 22px;
}

/* icons */

.footer-social__icons {
  display: flex;
  flex-direction: row;
}
.footer-social__icons .social-link:not(:last-of-type) {
  margin-right: 10px;
}
