@import "../../scss/themes/index";
.cardItem {
  height: 100%;
}
.cardImgLink {
  display: block;
  margin-bottom: 10px;
}
.cardImg {
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 10px;
}

.cardTitleLink {
  display: block;
  color: $c-white;
  transition: all 0.4s;
  margin-bottom: 8px;
  &:hover {
    color: $c-orange;
  }
}
.cardTitle {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardContent {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.cardContent,
.cardGenre {
  color: $c-main-text;
  font-size: $fs-14;
}
.cardAverage {
  border-radius: 5px;
  padding: 0 4px;
  background-color: $c-orange;
  color: $c-gray-m;
}
