@import "../../../../scss/themes/index";
@import "../../../../scss/core/index";

.topRatedMoviesInner {
  background-color: var(--c-card-bg);
  padding: 40px;
  border-radius: 10px;
  min-height: 450px;
  @include breakpoint("sm") {
    padding: 12px;
    min-height: 740px;

  }
}
