*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --form-color-main: #16133d;
  --form-color-white: #ffffff;
  --form-color-border-item: #e5eaf4;
  --form-color-border-item-hover: #3db370;
  --form-color-border-icon-hover: rgba(61, 179, 112, 0.1);
  --form-color-light-gray: #efeef3;
  --form-color-gray: #7690a8;
  --form-color-fill: rgb(202, 239, 242);
  --form-color-fill-light: rgb(225, 244, 245);
  --form-color-fill-outline: rgb(82, 194, 157);
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--form-color-main);
}
.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 22px 0;
  background-color: var(--form-color-white);
  border-bottom: 1px solid var(--form-color-light-gray);
}
.header__logo a,
.header__logo img,
.footer__logo img {
  display: block;
}

.services {
  padding: 100px 0;
}
.services__title-text {
  line-height: 21px;
  color: var(--form-color-gray);
  margin-bottom: 15px;
  text-transform: uppercase;
}
.services__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
}
.services__content-items {
  display: flex;
  justify-content: space-between;
}
.item-card {
  padding: 40px;
  border: 1px solid var(--form-color-border-item);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s;
}
.item-card:not(:last-of-type) {
  margin-right: 30px;
}
.item-card:hover {
  border-color: var(--form-color-border-item-hover);
}
.item-card:hover .item__icon {
  border-color: var(--form-color-border-icon-hover);
}
.item-card:hover .--fill {
  fill: var(--form-color-fill);
}
.item-card:hover .--fill-light {
  fill: var(--form-color-fill-light);
}
.item-card:hover .--fill-outline {
  fill: var(--form-color-fill-outline);
}
.--fill,
.--fill-light,
.--fill-outline {
  transition: all 0.25s;
}

.active {
  border-color: var(--form-color-border-item-hover);
}
.active .--fill {
  fill: var(--form-color-fill);
}
.active .--fill-light {
  fill: var(--form-color-fill-light);
}
.active .--fill-outline {
  fill: var(--form-color-fill-outline);
}
.active .item__icon {
  border-color: var(--form-color-border-icon-hover);
}
.item__icon {
  width: 64px;
  height: 64px;
  border: 1px solid var(--form-color-border-item);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.item__icon svg {
  width: 60%;
  height: 60%;
}
.item__title {
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}
.main__text {
  margin-bottom: 30px;
}
.item__link {
  font-weight: 600;
  line-height: 19px;
  color: var(--form-color-border-item-hover);
  text-decoration: none;
}

.footer {
  padding: 40px 0;
  background-color: var(--form-color-main);
}
.footer__logo {
  margin-bottom: 42px;
}
.footer__social-icons {
  display: flex;
}
.social-link {
  height: 38px;
  width: 38px;
  border-radius: 5px;
  background-color: var(--form-color-light-gray);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link svg path {
  transition: all 0.25s;
}
.social-link:hover svg path {
  fill: var(--form-color-border-item-hover);
}
.social-link svg {
  width: 50%;
  height: 50%;
}
