.header {
  background-color: var(--c-blue-dark-sidebar);
  margin: 80px 30px 80px 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  &__inner,
  &__menu,
  &__settings {
    display: flex;
    align-items: center;
  }
  &__inner {
    justify-content: space-between;
    padding: 22px;
  }
  &__panel {
  }
  &__menu {
  }
  &__settings {
  }
}
.header-menu {
  &__item {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
  &__link {
    display: inline-block;
  }
}
.header-setting {
  &__lang,
  &__link,
  &__menu {
    display: flex;
  }
  &__link {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--c-gray-light-main);
    font-size: pxToRem(18);
  }
  &__icon {
    margin-right: 20px;
  }
  &__text {
  }
  &__menu,
  &__avatar {
    margin-left: 60px;
  }
}
