.intro {
  &__inner {
    img {
      display: block;
      width: 1170px;
      @media screen and (max-width: 1280px) {
        width: 1000px;
      }
      @media screen and (max-width: 1090px) {
        width: 800px;
      }
      @media screen and (max-width: 890px) {
        width: 720px;
      }
      @media screen and (max-width: 810px) {
        width: 610px;
      }
      @media screen and (max-width: 690px) {
        width: 540px;
      }
      @media screen and (max-width: 620px) {
        width: 430px;
      }
    }
  }
}
