.post {
  &__heading {
  }
  &__inner {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .main-content__link:nth-of-type(2) .post__content .main-content__img {
    @media screen and (max-width: 768px) {
      order: 2;
    }
    @media screen and (max-width: 320px) {
      order: 0;
    }
  }
  &__content {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    @media screen and (max-width: 320px) {
      gap: 25px;
      flex-direction: column;
    }
    img {
      height: 260px;
    }
    .main-content__img {
      @media screen and (max-width: 768px) {
        width: 50%;
      }
      @media screen and (max-width: 320px) {
        width: 100%;
      }
    }
    .main-content__article {
      @media screen and (max-width: 768px) {
        width: 50%;
      }
      @media screen and (max-width: 320px) {
        width: 100%;
      }
    }
    .main-content__heading {
      @media screen and (max-width: 320px) {
        font-size: pxToRem(16);

      }
    }
    .main-content__title {
      font-size: pxToRem(22);
      line-height: 37px;
    }
  }
}
