*,
*::before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #3b3f45;
  font-weight: 400;
  line-height: 21px;
  border: 20px solid #fff;
}
li {
  list-style: none;
}

input:checked + label {
  text-decoration: line-through;
}
label div {
    font-size: 11px;
    line-height: 13px;
    display: inline-block;
}
label + input:checked {
  text-decoration: line-through;
}
label div:before {
  content: "(";
}
label div:after {
  content: ")";
}

/* header */

.header {
  background-color: #4a4f56;
  text-align: center;
  padding: 19px 0;
}
.heder_text {
  color: #ff8984;
}
.header_title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 4px;
}
.header_subtitle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

/* main */

.main {
  margin: 20px auto;
  max-width: 534px;
}
.item {
  width: 100%;
  height: 45px;
  background-color: #88839e;
  padding: 12px;
}
.item:nth-child(2n) {
  background-color: #7a7593;
}
.item:hover {
  background-color: #625e77;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.item_container {
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  user-select: none;
}
.item_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #fff;
}
.item_container:hover input ~ .checkmark {
  background-color: #ccc;
}
.item_container input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.item_container input:checked ~ .checkmark:after {
  display: block;
}
.item_container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 8px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* button */

.shopping-list_btn {
  width: 100%;
  height: 45px;
  border: none;
  background-color: #4a4f56;
  color: #ff8984;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 45px;
}
.shopping-list_btn:hover {
  background-color: #5e656e;
}
