* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --c-gray-light-main: #BDBDBD;
  --c-gray-gray-dark: #4F4F4F;
  --c-blue-darken-bg: #161D31;
  --c-blue-dark-sidebar: #283046;
  --c-white: #fff;
  --c-purple-light: #9E8CFC;
  --c-red: #EA5455;
  --c-yellow: #F2C94C;
  --c-green: #6FCF97;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: pxToRem(14);
  line-height: 17px;
  color: var(--c-gray-light-main);
}

ul {
  list-style: none;
}

