$c-white: #ffffff;
$c-brown-light: #F8F1EA;
$c-dot-inactive: rgba(248, 241, 234, 0.7);;
$c-dark-dot-inactive: #ffffff;
$c-tomato-light: #F16A50;
$c-tomato-medium: #F16A50;
$c-tomato: #C62100;
$c-brown-dark: #35312D;
$c-arrow-inactive: #202020;
$c-black: #000000;
