$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-40: 40px;
$fs-60: 60px;
$fs-80: 80px;

$c-gray-d: #141415;
$c-gray-m: #18181a;
$c-gray-l: #1b1c1e;
$c-gray-border: #35393f;
$c-main-text: #848692;
$c-white: #ffffff;
$c-black: #0e0f0f;
$c-orange: #f8c317;