:root {
  --c-main-text: #848692;
  --c-main-bg: #141415;
  --c-accent: #f8c317;
  --c-card-bg: #18181a;
  --c-white: #ffffff;
  --c-black: #0e0f0f;
  --c-gray-l: #1b1c1e;
}

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-40: 40px;
$fs-60: 60px;
$fs-80: 80px;


.mainTitle {
  margin-bottom: 40px;
  font-size: $fs-28;
}
